.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.city-name {
    font-size: 32px;
    color: #007bff;
}

.forecast-date {
    font-size: 16px;
    color: #333;
}
